
<html><head><meta >
  <title>knowledge of House Purchasing</title>
  <style type="text/css"> 
    body {font: 1em verdana; background: #12ACA5; margin: 25px; }
   .heading { color: #826b34; font-size: 1.5em; font-weight: bold; }
   .title { color: #000000; font-size: 1.1em; font-weight: bold; }
   .divider { background: #C6B37A; height: 4px; border: 0px; }
   .link { text-decoration: none; color: #0000FF; }
   .link:hover { text-decoration: underline; }
    pre { color: green; } 
    p { text-align: justify; }
    ul {  margin: 0; padding: 0; }
    li { list-style-type: none; }
   .club { font-size: 1.75em; font-weight: bold; color: #007000 }
  </style>
</head>
<body>

<div style="margin: auto; width: 90%; max-width: 1000px; background: #FCFCFC; padding: 15px">

<center><h2>knowledge of House Purchasing</h2></center>

<p>Most people are looking forward to to have their own dream houses in their live. Also, they usually spend most of their savings in their live to buy their favourite houses. Therefore, it is very important to get everything ready before buying houses.   Especially, When buyers can clearly understand  some the knowledge of house purchasing  which can let buyers likely protect their own  benefits and reduce their  unnecessary money and time lost.</p>

<h4><span class="club">&#9827;</span> The guides of looking at your houses  </h4>

<p>(A) By the general environments: regional environment, transportation network, the type of housing, public works, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;schools, market and other factors.</p>
<p>(B) By the narrow environments: neighbourhood, public facilities, parking lots, housing conditions and other factors.</p>

<h4><span class="club">&#9827;</span> (A) General environment</h4>

<p>1.Regional environment</p>
<p>&nbsp;&nbsp;&nbsp;.Neighborhood quality of life is good? </p>
<p>&nbsp;&nbsp;&nbsp;.Standards of residential construction?</p>
<p>&nbsp;&nbsp;&nbsp;.Porn industry around?</p>
<p>&nbsp;&nbsp;&nbsp;.Serious river pollution?</p>
<p>&nbsp;&nbsp;&nbsp;.Noise pollution like railroad?</p> 
<p>&nbsp;&nbsp;&nbsp;.Any high-voltage tower nearby? </p>
<p>&nbsp;&nbsp;&nbsp;.Grave area?</p>
<p>&nbsp;&nbsp;&nbsp;.Gas stations? ...</p>

<p>2.Transportation network</p>
<p>&nbsp;&nbsp;&nbsp;Integrity of regional transportation system is directly related to the homebuyers' work, school, and whether they easily &nbsp;&nbsp;&nbsp;and quickly reach their destinations. Therefore, in consideration of the traffic problem, homebuyers should understand the &nbsp;&nbsp;&nbsp;convenience of the conjunctions roads, so that it is easy to control the good traffic conditions every day and prevent to &nbsp;waste too much time.</p>

<p>3.Types of houses</p>

<p>&nbsp;&nbsp;&nbsp;.Single Hose: No HOA fee. </p>
<p>&nbsp;&nbsp;&nbsp;.Townhouse:  HOA fee.</p>
<p>&nbsp;&nbsp;&nbsp;.Condominium: Townhouse: HOA fee.</p>

<p>***HOMEOWNERS ASSOCIATION FEE(HOA FEE) :An amount of money that must be paid monthly   
    by owners of certain &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;types of residential property to an organization that assists with 
    maintaining and improving that property and others.</p>
	
<p>4. Public Works</p>
<p>&nbsp;&nbsp;&nbsp;Homebuyers should consider value of the house in future, and then they should pay attention to the living conditions of &nbsp;&nbsp;&nbsp;future or existing adequacy of public construction with the government, such as ? hospitals, parks, stadiums, community &nbsp;&nbsp;&nbsp;centers, cultural centers, art galleries, super market, playground, child-care centers and so on.</p>

<p>5. Schools and markets </p>
<p>&nbsp;&nbsp;&nbsp;.Good reputation Schools not only provide a good educational environment but also increase the value of properties in the future.</p>
<p>&nbsp;&nbsp;&nbsp;.If homes can nearby markets, supermarkets, shopping centers, any busy professional women, can also reduce the number of unnecessary time.</p>

<h4><span class="club">&#9827;</span> (B)Narrow environments</h4>

<p>1.Regional environment</p>

<p>&nbsp;&nbsp;&nbsp;.For some purposes around the house environment, homebuyers should go in the daytime and at night to make an observation, include - noise, garbage problem, vendors like pub and so on.</p>

<p>2.Parking</p>
<p>&nbsp;&nbsp;&nbsp;.Parking is a big issue which has been troubled by modern families.</p>
<p>&nbsp;&nbsp;&nbsp;.Homebuyers should check how easy the street parking is.</p>
<p>&nbsp;&nbsp;&nbsp;.Parking is exclusive or shared.</p>
<p>&nbsp;&nbsp;&nbsp;.Homebuyers need to figure how much a parking spot costs if they need.</p>

<h4><span class="club">&#9827;</span> House Mortgage/Loan</h4>
<p>Basically, a default value of rate is 30 years of 6.5%, but actually homebuyers' home loan interest rate base on your credit history and other various conditions. Each person's rates are not the same. Generally if credit score is not high enough, the loan interest rate is relatively higher. Before you loan, the bank will first consult your consent and check your credit score.</p>

<p>A credit score list</p>
<p>&nbsp;&nbsp;&nbsp;750 ~ 850:Excellent.</p>
<p>&nbsp;&nbsp;&nbsp;660 ~ 749:Good. </p>
<p>&nbsp;&nbsp;&nbsp;620 ~ 659:Fair. </p>
<p>&nbsp;&nbsp;&nbsp;350 ~ 619:Poor.</p>

<p>On the other hand, if you are the first time homebuyers, you can get a lower interest rate with first-time homebuyer education program.</p>


<center><span class="club">&#9827;</span><span class="club">&#9827;</span><span class="club">&#9827;</span></center>

<br>
<div style="text-align: center; background: #826B34"><a href=""><img src="" border="0" alt=""></a></div>

</div>



</body></html>