.btn-default, .btn-primary{
    padding: 9px;
    background: rgba(255,255,255,0.9);
    border: 2px solid #12cac5;
}
.btn-default:hover, .btn-primary:hover{
    background: rgba(38,195,182,0.3);
    border: 2px solid #12cac5;
}

.container{
    margin-top: 20px;
}

.well{
    background: rgba(255,255,255,0.5);
    border: 2px solid #12cac5;
}


body{
    background-image: url('../assets/images/pattern.png');
}

.panel{
    border: 2px solid #12cac5;
}

.panel .panel-footer{
    border-top: 2px solid #12cac5;
}

.realtor-desc{
    margin-left: 15px;
}

.form-control:focus {
  border-color: #12dad5;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(18, 172, 168, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(18, 172, 168, .6);
}